/* STYLE POUR GRANDS ET TRES GRANDS ECRANS */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #261624;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    text-align: center;
    background-color: #F3E9F1;
    padding: 20px 0px 20px 0px;
    margin-bottom: 30px;
}

#cart-icon {
    position: relative;
    top: 10px;
    z-index: 1;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#cards-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-body {
    width: 10%;
    height: 75%;
    margin: 15px 15px 100px 15px;
    background-color: #f0eded;
    border-radius: 20px;
}

.card-body:hover {
    transform: scale(1.1);
}

.card-body img {
    width: 100%;
}

.card-body h5 {
    padding: 10px 10px 0px 10px;
    color: #F4C10A;
}

.card-body h5:hover {
    color: #cda207;
}

.card-body p {
    padding: 0px 10px 10px 10px;
}

#photo {
    width: 350px;
}

#nbItems {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    bottom: 10px;
    right: 15px;
    z-index: 2;
    font-size: 12px;
}

.card:hover {
    transform: scale(1.1);
}

#table-text {
    font-size: 18px;
}

#model {
    font-size: 20px;
    font-weight: bold;
}

#dropDownList {
    margin-bottom: 40px;
}

#cleanCartButton {
    margin-left: 5px;
}

footer {
    text-align: center;
    background-color: #F3E9F1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0px 5px 0px;
}

#copyright-icon {
    position: relative;
    top: 2px;
}

.link-unstyled:hover {
    text-decoration: none;
}


/* STYLE POUR MOYENS ECRANS */

@media (max-width: 1110px) {
    #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card-body {
        width: 45%;
        max-width: 45%;
        height: 30%;
        margin: 15px 15px 15px 15px;
    }
}


/* STYLE POUR PETITS ECRANS */

@media (max-width: 649px) {
    h1.header {
        font-size: 22px;
    }
    #cart-icon {
        top: 0px;
    }
    #nbItems {
        bottom: 20px;
    }
    #backToHomepageButton {
        font-size: 12px;
        margin-bottom: 0px;
    }
    h2.jumbotron {
        font-size: 18px;
        margin-top: 5px;
    }
    #cards-container {
        justify-content: center;
    }
    .card-body {
        width: 80%;
        max-width: 80%;
        height: 18%;
    }
    #addToCartButton,
    #order,
    #cleanCartButton {
        margin-bottom: 10px;
    }
    #photo {
        width: 100px;
    }
    .headersOfTable {
        font-size: 12px;
    }
    #table-text {
        font-size: 10px;
        padding-bottom: 5px;
    }
    #model {
        font-size: 12px;
    }
    #table-text .btn {
        font-size: 8px;
        width: 90px;
    }
    #cleanCartButton {
        margin-left: 0px;
    }
    #dropDownList {
        margin-bottom: 15px;
    }
}


/* STYLE POUR TRES PETITS ECRANS */

@media (max-width: 576px) {
    .jumbotron {
        font-size: 20px;
    }
    #cards {
        margin-top: 5px;
    }
    .alert {
        font-size: 10px;
    }
    footer {
        font-size: 10px;
    }
}